.filters__wrapper {
  display: flex;
}

.search-filter {
  display: flex;
  gap: 0.25rem;
}
.search-filter__item {
  padding: 0.5rem 3rem;
}

.year-filter {
  color: white;
  padding: 0 0.25rem;
}

.year-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.year-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
